@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+KR&display=swap");
* {
  box-sizing: border-box;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  font-family: "Noto Sans KR", sans-serif;
}

a, a:link, a:visited {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color: #0075FF;
}

h1, h2, h3 {
  font-family: "Bebas Neue", sans-serif;
  color: #0075FF;
  margin: 0;
  font-size: 2.8rem;
  text-align: center;
}

.detail-header {
  margin-top: 2rem;
}

.background {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  position: absolute;
  padding: 0 16px;
}
.background span {
  display: block;
  height: 100%;
  background: linear-gradient(180deg, #BCD7EB 0%, rgba(217, 217, 217, 0) 100%, rgba(217, 217, 217, 0) 100%);
  width: calc(11.1111111111% - 2.7vw);
  margin-right: 2.7vw;
}
.background span:last-child {
  margin-right: 0;
}

.table-container {
  max-height: 800px;
}

.background-footer {
  position: relative;
  z-index: 1;
}
.background-footer span {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15em;
  background: linear-gradient(0deg, #BCD7EB 0%, rgba(212, 218, 213, 0.03) 99.99%, rgba(217, 217, 217, 0) 100%, rgba(217, 217, 217, 0) 100%);
}

.door-line {
  height: 100vw;
  width: 20px;
  position: fixed;
  z-index: 100;
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  mix-blend-mode: overlay;
  animation-name: rotate;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.main h1 {
  position: absolute;
  bottom: 1.5rem;
}

.creator-img {
  border-radius: 100%;
  margin: 1rem 0;
  align-items: center;
  width: calc((50vw - 2rem) / 12 * 6);
}

.creator-ifm {
  font-family: "Bebas Neue", cursive;
  font-size: 2em;
  color: #434343;
  margin: 0;
  text-align: center;
  width: calc((100vw - 2rem) / 12 * 6);
}

.creator-issue {
  position: relative;
  display: block;
  margin: 1rem;
  max-width: 50%;
  height: calc(100vh - 11rem);
  text-align: center;
  color: #434343;
  overflow-y: scroll;
  font-size: 1.7rem;
  line-height: 1.7em;
  background-color: rgba(255, 255, 255, 0.4);
  border: 2px solid #BCD7EB;
}

.detail-background {
  position: relative;
}
.detail-background span {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #BCD7EB 0%, rgba(217, 217, 217, 0) 100%, rgba(217, 217, 217, 0) 100%);
}

.display-total {
  max-height: 100vh;
}
.display-total h1 {
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 5rem;
}

.dispay-issue {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 9.5em);
  margin: 0 1rem;
}

.detail-contents {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  width: 50%;
  height: calc(100vh - 9.5em);
  align-items: center;
}
.detail-contents h2 {
  color: #434343;
  font-size: 3em;
  margin: 0;
  width: calc((100vw - 2rem) / 12 * 6);
}

.logo-holder {
  display: flex;
  justify-content: center;
}
.logo-holder img {
  width: calc((100vw - 2rem) / 12 * 6);
}

.heart-holder {
  margin: 3.25rem 0px;
}

.contents {
  padding: 0 1rem;
  margin: 10vh auto;
  max-width: 980px;
}
.contents p {
  font-size: 1.7rem;
  line-height: 1.7em;
  padding-bottom: 0;
}
.contents p span {
  font-family: "Bebas Neue", cursive;
  font-size: 2em;
  color: #434343;
}

table {
  position: relative;
  z-index: 2;
  background-color: #ffffff;
  border-top: 2px solid #0075FF;
  border-bottom: 2px solid #0075FF;
  width: 100%;
  border-collapse: collapse;
}
table thead {
  border-bottom: 2px solid #0075FF;
  display: table;
  width: 100%;
  table-layout: fixed;
}
table thead th {
  color: #434343;
  padding: 0.5em 0;
}
table thead .thead-empty {
  width: 1em;
}
table tbody {
  display: block;
  max-height: 341px;
  color: #434343;
  overflow-y: scroll;
}
table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  border: 1px solid #f3f2f2;
  border-left: none;
  border-right: none;
}
table tbody td {
  text-align: center;
  padding: 0.2em 0 0.3em;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 1024px) {
  .contents p {
    font-size: 1.4rem;
  }
  .display-total h1 {
    font-size: 3.5rem;
    padding-bottom: 2rem;
    padding-top: 3rem;
  }
  .detail-contents {
    height: 50vh;
    width: 100%;
  }
  .detail-contents h2 {
    font-size: 2.5rem;
    width: 100vw;
    padding: 0 2rem;
  }
  .creator-ifm {
    font-size: 2.2rem;
    width: 100vw;
  }
  .dispay-issue {
    flex-direction: column;
  }
  .creator-issue {
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin: 1rem auto;
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .door-line {
    display: none;
  }
  .logo-holder {
    width: 100%;
    padding: 1rem;
  }
  .logo-holder img {
    width: 100%;
  }
  .background {
    padding: 0;
  }
  .background span {
    margin: 0;
    width: 25%;
  }
  .background span:nth-child(n+4) {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .contents p {
    font-size: 1.2rem;
  }
  .display-total h1 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
  }
  .detail-contents {
    height: 50vh;
    width: 100%;
  }
  .detail-contents h2 {
    font-size: 1.5rem;
    width: 100vw;
    padding: 0 1rem;
  }
  .creator-ifm {
    font-size: 1.2rem;
    width: 100vw;
  }
  .dispay-issue {
    flex-direction: column;
  }
  .creator-issue {
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 350px) {
  .contents p {
    font-size: 1.1rem;
  }
}/*# sourceMappingURL=style.css.map */